<!DOCTYPE HTML>
<html>
	<head>
		<title>What?!</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/board.css">
	</head>
	<body>
		{{{body}}}
	</body>
</html>